@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/*Types*/
$typeYellow:yellow;
$typeFire:red;
$typeWater:blue;
$typePoison:purple;
$typeGrass:rgb(12, 196, 12);
$typeBug:green;



$yellow:rgb(255, 203, 5);
$blue:rgb(61, 125, 202);
$blue-background:#04338D;
$sky:#DEEFFF;
$darkSky:#3A6CB8;

$sand:#E4CE92;
$darkSand:#8C8260;

$orange:#FF810A;
$gray:#2F3430;
$navy_blue:rgb(0, 58, 112);
$black:rgb(15,15,15);
$black_transparent:rgb(15,15,15,0.9);
@mixin pkm_font(){
    text-shadow: 2px 0px $navy_blue, -2px 0px $navy_blue, 0 2px $navy_blue, 0 -2px $navy_blue, 1px 1px $navy_blue , 1px -1px $navy_blue, -1px 1px $navy_blue, -1px -1px $navy_blue;
}

*{
    font-family: "Open Sans", sans-serif;
    text-transform: capitalize;
    box-sizing: content-box;
}

a{
    text-decoration: none;
    color:$black;    
}

.navbar{
    position: block;
    display: flex;
    align-items: center;
    height: 50px;
    width: 100vw;
    background-color: $gray;
    padding: 0.2rem;
}

.navbar__title{
    color: $yellow;
    display: flex;
    align-items: center;
    @include pkm_font();
    font-size: 1.8rem;
    margin-right: 2rem;
}
.navbar__input{
    outline: none;
    height: 40px;
    width: 350px;
    background: radial-gradient($sand,$darkSand);
    font-size: 1.2rem;
    padding-left: 10px;
    outline: none;
    color: $black;
    margin-right: 1rem;
}
.navbar__input:focus{
    outline: $yellow;
}
.navbar__input::placeholder{
    color: $black;
}

.navbar__button{
    border-radius: 200px 200px;
    height: 40px;
    width: 30px;
    font-size: 1.2rem;
    background: radial-gradient($sand,$darkSand);
    border: 2px solid $black;
    margin-right: 2rem;
}
.navbar__button:hover{
    cursor: pointer;
}


.container{
    background: $blue-background;
    display: flex;
    width: 100vw;
    height: calc(100vh - 70px);    
}
.pkm-list-container{
    float: right;
    overflow-y: scroll;
}

.pkm-element{
    background: $orange;
    display: flex;
    align-items: center;
    width: 600px;
    height: 100px;
    margin: 10px 0px;
    border-radius: 15px;
}
.pkm-element__inside{
    background: white;
    width: 500px;
    height: 80px;
    margin: auto;
    display: flex;
    align-items: center;
    padding-left: 5px;
    float: right;
    cursor: pointer;
}
.pkm-element__name{
    color:$black;
    font-size: 3rem;
    font-weight: bold;
}

.pkm-element__check-btn{
    color:$black;
    font-size: 2.15rem;
    margin-left: 30px;
    margin-right: 15px;
    background: $black_transparent;
    border-radius: 100%;
}
.pkm-element__check-btn:hover{
    transform: scale(1.15);
    transition: transform 0.2s;
}


.pkm-display{
    width: 920px;
    height: 100%;
    display: flex;
    align-items: center;
    position: block;
}
.pkm-display__card{
    width: 66%;
    border-radius: 150px 50px 150px 50px;  
    height: 95%;
    background: linear-gradient($darkSky 5%,$sky 50%,$darkSky 95%);

}
.pkm-display__info{
    box-sizing: border-box;
    width: 30%;
    height: 95%;
    margin-left: 10px;
    color: white;
    padding: 10px;
    background-color: $black;
}
.pkm-display__data{
    color: $yellow  ;
}
.pkm-display__image{
    width: 75%;
    height: 75%;
    margin: 12.5% 12.5% 12.5% 12.5%;
}

.pkm-display__audio{
    height: 50px;
    width: 95%;
}

.pkm-display__typeList{
    list-style-type: disc;
}
.pkm-display__typeListElement{
    margin-left: 30px;
}